<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>18.5</title>
</head>
<body>
<div id="app">
    <div style="padding: 5rem;">
        <input type="text" v-model="price">{{ price | currency }}
    </div>
    <div style="padding: 5rem;">
        <input type="text" v-model="price"> {{price | currency('USD')}}
    </div>
    <div style="padding: 5rem;">
        <input type="text" v-model="length"> {{ length}} mm
        <br>
        {{ length | meter }}
    </div>
</div>
<script src="../lib/vue.js"></script>
<script src="js/app.js"></script>
</body>
</html>